@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .box::before{
    @apply content-[''] absolute bg-[conic-gradient(#3b82f6_20deg,transparent_120deg)] w-[900px] h-[900px]
    top-[-25%] left-[-25%] fullSpin
  }
  .box::after{
    @apply  w-[94%] h-[94%] 
    absolute top-[3%] left-[3%] flex justify-center items-center tracking-[2px] font-medium text-4xl font-serif
    
  }

  .fullSpin {
    transform: rotate(-360deg);
    animation: fullSpin 3s linear infinite;
  }
 

  .box_loading {
    @apply w-[var(--box-size)] h-[var(--box-size)] relative block;
    transform-origin: -50% center;
    border-radius: var(--box-border-radius);
  }

  .box_loading::after {
    @apply content-[''] w-full h-full absolute top-0 right-0 bg-blue-500 rounded-[var(--box-border-radius)] shadow-[0_0_10px_0_rgba(28,159,255,0.4)];
  }

  .box_loading:nth-child(1) {
    animation: slide var(--duration) ease-in-out infinite alternate;
  }

  .box_loading:nth-child(1)::after {
    animation: color-change var(--duration) ease-in-out infinite alternate;
  }

  .box_loading:nth-child(2) {
    animation: flip-2 var(--duration) ease-in-out infinite alternate;
  }

  .box_loading:nth-child(2)::after {
    background-color: #1C9FFF;
    animation: squidge-2 var(--duration) ease-in-out infinite alternate;
  }

  .box_loading:nth-child(3) {
    animation: flip-3 var(--duration) ease-in-out infinite alternate;
  }

  .box_loading:nth-child(3)::after {
    background-color: #1FB1FD;
    animation: squidge-3 var(--duration) ease-in-out infinite alternate;
  }

  .box_loading:nth-child(4) {
    animation: flip-4 var(--duration) ease-in-out infinite alternate;
  }

  .box_loading:nth-child(4)::after {
    background-color: #22C7FB;
    animation: squidge-4 var(--duration) ease-in-out infinite alternate;
  }

  .box_loading:nth-child(5) {
    animation: flip-5 var(--duration) ease-in-out infinite alternate;
  }

  .box_loading:nth-child(5)::after {
    background-color: #23D3FB;
    animation: squidge-5 var(--duration) ease-in-out infinite alternate;
  }

}

.loading_container {
  @apply w-[250px] flex justify-between items-center relative;
}


.chat_container{
  @apply flex flex-row h-[100%] w-[100%] overflow-hidden
  }
  .chat_container_background{
  @apply bg-white h-full w-full dark:bg-zinc-900
  }
  .chat_container_chat_window{
  @apply flex flex-col justify-items-center bg-white
  h-full w-full lg:px-[23%] dark:bg-zinc-900
  }
  
  


  .chat_header_icon{
    @apply animate-slidein300 opacity-0 text-2xl mt-5 ml-4 dark:ml-0 mr-2 text-blue-500
    }
    .chat_header_text{
    @apply animate-slidein400 opacity-0 text-2xl font-medium my-4 text-blue-500 dark:text-blue-500
    }
    

.catogory_header_text{
  @apply animate-slidein500 opacity-0 text-4xl mt-[10%] px-[5%] font-bold bg-gradient-to-r from-blue-500 via-purple-500 to-pink-500 bg-clip-text inline-block text-transparent
}
.catogory_header_next_text{
  @apply animate-slidein600 opacity-0 text-zinc-400 text-2xl px-[5%] mt-[4%] font-medium
}

.chat_form_header_text{
  @apply animate-slidein300 opacity-0 text-slate-400 text-lg font-medium
  }
  .chat_form_container{
  @apply animate-slidein300 opacity-0 h-[89%] flex flex-col mx-5 mt-[2%] 
  }
  .chat_form_text{
  @apply h-full dark:text-white mx-3 mr-5 rounded-2xl font-medium text-lg p-5 leading-6 text-black
  }
 
  .chat_form_input_container{
  @apply  flex flex-row overflow-y-auto w-[100%] absolute bottom-0 resize-y 
  }
  .chat_form_input_prompt{
  @apply flex mb-2 bg-slate-50 border-0 w-full resize-y overflow-y-auto text-base leading-6 font-medium 
  }

.chat_form_input_div{
  @apply w-full rounded-3xl p-2 mt-2 text-lg bg-slate-50 text-gray-900 placeholder-gray-400
  overflow-y-auto max-h-40 leading-5
  }
 
  .button_TelegramIcon{
  @apply  rounded-full p-[1.5%] text-blue-900 hover:bg-blue-50 dark:text-zinc-400 dark:hover:bg-zinc-700
  }

div:empty:before {
  content:attr(data-placeholder);
  color:gray
}


/* 
chat catogory 가로 버전 */

.chat_category_container{
  @apply animate-slidein800 opacity-0 flex flex-row h-[300%] w-[100%] pt-[5%] md:w-[120%]
  }

.chat_catogry_button{
  @apply text-black text-[19px] px-[4.5%] leading-8 m-[1%] rounded-2xl p-1 w-[18.6%] h-[25%] bg-slate-50 shadow-lg dark:bg-zinc-800 dark:text-white
  }

.chat_catogry_button:hover{
  @apply bg-blue-50 dark:bg-zinc-700
  } 
  .chat_catogry_button:focus{
  @apply outline-none ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-xl p-1 text-center 
  }


  
  .switch {
    width: 50px;
    height: 30px;
    padding: 3.5px;
    border-radius: 100px;
    display: flex;
    cursor: pointer;
  }
  
  .switch.on {
    background-color: #2563eb;
    justify-content: flex-end;
  }
  
  .switch.off {
    background-color: #dddddd;
    justify-content: flex-start;
  }
  
  .switch div {
    width: 23px;
    height: 23px;
    background-color: #ffffff;
    border-radius: 200px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.02);
  }


  .typing-demo-header {
    width: 23ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid;
    font-family: serif;
    font-size: 5em;
  }

  .typing-demo-sub-header {
    width: 23ch;
    animation: typing 2s steps(8), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: serif;
    font-size: 3rem;
  }

  


 

