@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@keyframes fullSpin {
  from {
    transform: rotate(0deg); /* Start at 0 degrees rotation */
  }
  to {
    transform: rotate(-360deg); /* End at -360 degrees for full spin */
  }
}

.fullSpin {
  animation: fullSpin 3s linear infinite; /* Apply the animation */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .box::before{
    @apply content-[''] absolute bg-[conic-gradient(#3b82f6_20deg,transparent_120deg)] w-[900px] h-[900px]
    top-[-25%] left-[-25%] fullSpin
  }
  .box::after{
    @apply  w-[94%] h-[94%] 
    absolute top-[3%] left-[3%] flex justify-center items-center tracking-[2px] font-medium text-4xl font-serif
    
  }
}

.fullSpin {
  transform: rotate(-360deg);
  animation: fullSpin 3s linear infinite;
}

.chat_container{
  @apply flex flex-row h-[100%] w-[100%] overflow-hidden
  }
  .chat_container_background{
  @apply bg-white h-full w-full dark:bg-zinc-900
  }
  .chat_container_chat_window{
  @apply flex flex-col justify-items-center bg-white
  h-full w-full lg:px-[23%] dark:bg-zinc-900
  }
  
  


  .chat_header_icon{
    @apply animate-slidein300 opacity-0 text-2xl mt-5 ml-4 dark:ml-0 mr-2 text-blue-500
    }
    .chat_header_text{
    @apply animate-slidein400 opacity-0 text-2xl font-medium my-4 text-blue-500 dark:text-blue-500
    }
    

.catogory_header_text{
  @apply animate-slidein500 opacity-0 text-4xl mt-[10%] px-[5%] font-bold bg-gradient-to-r from-blue-500 via-purple-500 to-pink-500 bg-clip-text inline-block text-transparent
}
.catogory_header_next_text{
  @apply animate-slidein600 opacity-0 text-zinc-400 text-2xl px-[5%] mt-[4%] font-medium
}

.chat_form_header_text{
  @apply animate-slidein300 opacity-0 text-slate-400 text-lg font-medium
  }
  .chat_form_container{
  @apply animate-slidein300 opacity-0 h-[89%] flex flex-col mx-5 mt-[2%] 
  }
  .chat_form_text{
  @apply h-full bg-slate-50 mx-3 mr-5 rounded-2xl font-medium text-lg p-5 leading-6 text-black my-[2%]
  }
 
  .chat_form_input_container{
  @apply  flex flex-row overflow-y-auto w-[100%] absolute bottom-0 resize-y 
  }
  .chat_form_input_prompt{
  @apply flex mb-2 bg-slate-50 border-0 w-full resize-y overflow-y-auto text-base leading-6 font-medium 
  }

.chat_form_input_div{
  @apply w-full rounded-3xl p-2 mt-2 text-lg bg-slate-50 text-gray-900 placeholder-gray-400
  overflow-y-auto max-h-40 leading-5
  }
 
  .button_TelegramIcon{
  @apply  rounded-full p-[1%] text-blue-900 hover:bg-blue-50 dark:text-zinc-400 dark:hover:bg-zinc-700
  }

div:empty:before {
  content:attr(data-placeholder);
  color:gray
}


/* 
chat catogory 가로 버전 */

.chat_category_container{
  @apply animate-slidein800 opacity-0 flex flex-row h-[300%] w-[100%] pt-[5%] md:w-[120%]
  }

.chat_catogry_button{
  @apply text-black text-xl m-[1%] rounded-2xl p-1 w-[26%] h-[29%] bg-slate-50 shadow-lg dark:bg-zinc-800 dark:text-white
  }

.chat_catogry_button:hover{
  @apply bg-blue-50 dark:bg-zinc-700
  } 
  .chat_catogry_button:focus{
  @apply outline-none ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-xl p-1 text-center 
  }


  
  .switch {
    width: 50px;
    height: 30px;
    padding: 3.5px;
    border-radius: 100px;
    display: flex;
    cursor: pointer;
  }
  
  .switch.on {
    background-color: #2563eb;
    justify-content: flex-end;
  }
  
  .switch.off {
    background-color: #dddddd;
    justify-content: flex-start;
  }
  
  .switch div {
    width: 23px;
    height: 23px;
    background-color: #ffffff;
    border-radius: 200px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.02);
  }


  .typing-demo-header {
    width: 23ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: serif;
    font-size: 5em;
  }

  .typing-demo-sub-header {
    width: 23ch;
    animation: typing 2s steps(8), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: serif;
    font-size: 3rem;
  }
  
  @keyframes typing {
    from {
      width: 0ch
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
  

 